
html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-image: url("https://www.kastapp.co/images/gradient-violet-bg.jpg");
    background-color: white;
    background-size: 1500px, 95px;
    background-repeat: no-repeat;
    background-position-y: -100px;
    height: 100%;

}


.navbar {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
    height: 100px; 
    float: left;
}


header img {
    margin: 0;
    width: 25%;
    height: auto;
    text-align: left;
} 

header img:hover {
    width: 28%;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
    flex: 1;
    position: fixed;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}
.nav-item {
    font-weight: 550;
    font-size: 2vh;
    display: inline;
    padding: 15px;

}

.premiumUnderline {
    padding: 50px 26px;
    color: white;
    font-weight: 550;
  }

.premiumUnderline:hover {
    color: white;
     text-decoration: underline;
}

.custom-button {
    color: white;
    border: 1px solid;
    border-radius: 10% 10% 10% 10%;
    white-space: nowrap;
    padding: 0px;
    margin: auto;
    font-size: 1.5vh;
    padding: 5px 5px;
}

.custom-button:hover {
    color: white;
    padding: 6px;
    text-decoration: none;
}

.computerPic {
    position: center;
    margin: auto;
    padding-top: 75px;
    width: 40vw;
    height: auto;
}

.watchParty {
    position: center;
    text-align: center;
    padding-top: 25px;
    font-family:'Roboto', sans-serif;
    letter-spacing: normal;
    color: white;
}
.watchTitle {
    font-size: 5.5vh;
    font-weight: 600;
}
.moreText {
    position: center;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    width: 40vw;
    padding-bottom: 30px;
    font-size: 2.5vh;
    line-height: 3.25vh;
}

.openKastButton {
    color: white;
    background-color: rgb(255, 136, 0);
    margin: auto;
    border-radius: 3% 3% 3% 3%;
    font-size: 18px;
    font-weight: bolder;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 50px;
    padding: 13px 60px;
}

.openKastButton:hover {
    color: white;
    text-decoration: none;
    padding: 14px 61px;
}

.cyberSale {
    border: 0;
    overflow-wrap: break-word;
    width: 60%;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(78, 78, 78);
    position: relative;
    top: 19em;
    left: 8em;
    float: left;
}
 
.flex-container {
    text-align: center;
    display: flex;
    list-style-type: none;
    position: relative;
    top: 46em;
    right: 20em;
    margin: 4px;
    justify-content: space-between;
}


.popcorn {
    width: 100px;
    height: 100px;
}

.paperPlane {
    width: 100px;
    height: 100px;
}

.heart {
    width: 100px;
    height: 100px;
}

.popcornText {
    width: 15%;
    height: auto;
    line-height: 30px;
    overflow-wrap: break-word;
    padding-left: 0;
    text-align: center;
/*     position: relative;
    top: 46em;
    left: 20em; */
}

.planeText {
    width: 15%;
    height: auto;
    line-height: 30px;
    overflow-wrap: break-word;
    text-align: center;
    /* position: relative;
    top: 42em;
    left: 38em; */

}

.heartText {
    width: 15%;
    height: auto;
    line-height: 30px;
    overflow-wrap: break-word;
    text-align: center;
    /* position: relative;
    top: 38em;
    left: 58em; */

}

.membershipText {
    font-size: 19px;
    font-family:"Roboto", sans-serif;
    width: 40%;
    height: auto;
    line-height: 40px;
    overflow-wrap: break-word;
    position: relative;
    top: 50em;
    left: 18em;
    text-align: center;

}

.learnMore {
    color: rgb(255, 136, 0);
    font-size: 15px;
    position: relative;
    top: 65em;
    left: 35em;


}.learnMore:hover {
    text-decoration: underline;
}

.getYourMembership {
    color: white;
    background-color: rgb(255, 136, 0);
    position: relative;
    top: 60em;
    left: 24em;
    margin: auto;
    width: 0;
    border-radius: 3% 3% 3% 3%;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 50px;
    padding: 10px 20px;
    text-align: center;
}

.getYourMembership:hover {
    color: white;
    padding: 11px 21px;
    text-decoration: none;
}
